* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.tile {
  width: 150px;
  height: 150px;
  border: 5px dashed black;
}
#box1 {
  background-color: blue;
}
#box2 {
  background-color: purple;
}
#box3 {
  background-color: yellow;
}
#box4 {
  background-color: silver;
}
.switches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 60px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
}
