* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.tiles {
  width: 150px;
  height: 150px;
  border: 1px dashed black;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
